@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-out;

}




body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color:#2A3335;

}

/* Custom class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}
.color-scrollbar {
  /* Mendukung Firefox */
  scrollbar-width: thin; /* Opsi: auto, thin, none */
  scrollbar-color: #3D4451 white; /* Warna thumb dan track */
}

/* Untuk browser berbasis Webkit (Chrome, Safari, Edge terbaru) */
.color-scrollbar::-webkit-scrollbar {
  width: 2px; /* Lebar scrollbar */
  height: 0px; /* Tinggi scrollbar horizontal */
}

.color-scrollbar::-webkit-scrollbar-track {
  background: #E0E0E0; /* Warna latar belakang scrollbar */
  border-radius: 20px; /* Radius sudut */
}

.color-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3D4451; /* Warna thumb scrollbar */
  border-radius: 20px; /* Radius sudut */
  border: 1px solid red; /* Tambahan untuk kontras */
}

.color-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0000FF; /* Warna saat hover */
}
